:root {
  --mainColor: #a4e5fb;
}

* {box-sizing:border-box}


/*TODO: look at css style guide for guidance */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#webpage {
  background-image: linear-gradient(to bottom right, #b3ecec, #d5a6e6);
  min-height: 100vh;
  min-width: 100vw;
  color: #1c2327;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  max-width: 960px;
  align-content: center;
  background-color: white;
  box-shadow: 0px 0px 10px grey;
  padding: 5%;
}

/* **************** */
/* navigation style */
.topnav {
  background-color: rgba(255, 255, 255, 0.685);
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid #b4dff5;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16x;
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 0px;
  transition: background-size .2s;
  color: #1c2327;
}

.topnav a:hover{
  background-size: 4px 50px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* **************** */
#greeting-container {
  margin-top: 20px;
}

/* **************** */
/* Slideshow styles */
.slideshow-container {
  width: 80%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #89CFF0;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(130, 193, 223);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* **************** */
/* Row col styling  */
.row {
  display: -webkit-flex;
  display: flex;
  width: 100%
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  padding: 10px;
}

/* Responsive layout - small screen? make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/* **************** */
/* Recipe box style */
div.gallery {
  width: 100%;
  border-bottom: 1px solid #FFC0CB;
}

div.gallery:hover {
  border-bottom: 1px solid #FFC0CB;
  box-shadow: 0px 0px 5px grey;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* **************** */
/* Button styling   */
#buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

button {
  background-color: #eddbf4;
  border: 1px solid #cd8de5;
  transition-duration: 0.1s;
  padding: 5px 5px;
  font-size: 16px;
  box-shadow: 0px 0px 2px grey;
  margin: auto;
  border-radius: 2px;
}

button:hover {
  background-color: #d5a6e6;
}

#cue-card {
  background-color: #edf7fd;
  border: 1px solid #b4dff5;
  height: 200px;
  position: relative;
  display: block;
  padding: 10px;
  border-radius: 3px;
}

#word-box {
  font-weight: bold;
}

/* **************** */
footer {
  border-top: 2px solid #a4e5fb;
  text-align: center;
}